body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){

}
  
@media screen and (min-width: 769px) and (max-width: 1199px){

}

@media screen and (min-width: 1200px){

}

/* @font-face {
  font-family: "HelveticaUltraLt_0";
  src: local("HelveticaUltraLt_0"),
   url("./font/HelveticaUltraLt_0.ttf") 
  format("truetype");
  font-weight: bold;
  } */

  



  